/template/bymlCjCTemplate.aux
/template/bymlCjCTemplate.bbl
/template/bymlCjCTemplate.dvi
/template/bymlCjCTemplate.fdb_latexmk
/template/bymlCjCTemplate.fls
/template/bymlCjCTemplate.log
/template/bymlCjCTemplate.out
/template/bymlCjCTemplate.synctex.gz
/report/*